<template lang="pug">

//- @Author: CPS

//- 外部容器
.login_container
  //- 左上角 logo框
  div.logo_box
    img.logo_img(alt="logo img", src="../assets/logo.png")
    //- 内部容器
    .logo_text
      //- 主标题
      .logo_title
        | {{ appname }}
      //- 副标题
      .logo_subtitle
        | {{ appsubname }}

  //- 登陆框
  div.login_box
    //- 标题
    el-row.login_title(:span="'24'+'9'", style="margin-top: 10px;")
      | {{ loginMode }}

    //- 登录数据表单
    el-form.login_form(
      ref="formData",
      :model="formData",
      :rules="rules",
      style="margin: 50px 0;")

      //- 账号输入框
      el-form-item(prop="username")
        el-input(
          prefix-icon="iconfont1 icon-yonghu",
          v-model="formData.username",
          placeholder="输入账号",
          clearable)
</template>